WPFDataOsoby/Connected Services/OperationsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOsoba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Osoba" nillable="true" type="tns:Osoba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsoba" nillable="true" type="tns:ArrayOfOsoba" />
  <xs:complexType name="Osoba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="tns:AdresaOsoby" />
      <xs:element minOccurs="0" name="DatumNarodenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Meno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priezvisko" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Osoba" nillable="true" type="tns:Osoba" />
  <xs:complexType name="AdresaOsoby">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cislo" type="xs:int" />
      <xs:element minOccurs="0" name="Ulica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdresaOsoby" nillable="true" type="tns:AdresaOsoby" />
</xs:schema>