WPFDataOsoby/Connected Services/OperationsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" />
  <xs:element name="GetDataFromXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" minOccurs="0" name="GetDataFromXMLResult" nillable="true" type="q1:ArrayOfOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataToCSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" minOccurs="0" name="ArrayOfOsoba" nillable="true" type="q2:ArrayOfOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataToCSVResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" minOccurs="0" name="ArrayOfOsoba" nillable="true" type="q3:ArrayOfOsoba" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" minOccurs="0" name="GetLessAgeResult" nillable="true" type="q4:ArrayOfOsoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>