WPFDataOsoby/Connected Services/OperationsService/Operations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Operations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileOperation_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDataOperation_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceUdajeOsoby.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileOperation_GetDataFromXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromXML" />
  </wsdl:message>
  <wsdl:message name="IFileOperation_GetDataFromXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IFileOperation_WriteDataToCSV_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataToCSV" />
  </wsdl:message>
  <wsdl:message name="IFileOperation_WriteDataToCSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataToCSVResponse" />
  </wsdl:message>
  <wsdl:message name="IDataOperation_GetLessAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessAge" />
  </wsdl:message>
  <wsdl:message name="IDataOperation_GetLessAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessAgeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileOperation">
    <wsdl:operation name="GetDataFromXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileOperation/GetDataFromXML" message="tns:IFileOperation_GetDataFromXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileOperation/GetDataFromXMLResponse" message="tns:IFileOperation_GetDataFromXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteDataToCSV">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileOperation/WriteDataToCSV" message="tns:IFileOperation_WriteDataToCSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileOperation/WriteDataToCSVResponse" message="tns:IFileOperation_WriteDataToCSV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDataOperation">
    <wsdl:operation name="GetLessAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperation/GetLessAge" message="tns:IDataOperation_GetLessAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperation/GetLessAgeResponse" message="tns:IDataOperation_GetLessAge_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileOperation" type="tns:IFileOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataFromXML">
      <soap:operation soapAction="http://tempuri.org/IFileOperation/GetDataFromXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToCSV">
      <soap:operation soapAction="http://tempuri.org/IFileOperation/WriteDataToCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IFileOperation" type="tns:IFileOperation">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileOperation_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDataFromXML">
      <soap12:operation soapAction="http://tempuri.org/IFileOperation/GetDataFromXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataToCSV">
      <soap12:operation soapAction="http://tempuri.org/IFileOperation/WriteDataToCSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDataOperation" type="tns:IDataOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLessAge">
      <soap:operation soapAction="http://tempuri.org/IDataOperation/GetLessAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDataOperation" type="tns:IDataOperation">
    <wsp:PolicyReference URI="#NetTcpBinding_IDataOperation_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLessAge">
      <soap12:operation soapAction="http://tempuri.org/IDataOperation/GetLessAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Operations">
    <wsdl:port name="BasicHttpBinding_IFileOperation" binding="tns:BasicHttpBinding_IFileOperation">
      <soap:address location="http://localhost:3000/Operations" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IFileOperation" binding="tns:NetTcpBinding_IFileOperation">
      <soap12:address location="net.tcp://localhost:45617/Operations" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45617/Operations</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AD-TUKE\yp670pa</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDataOperation" binding="tns:BasicHttpBinding_IDataOperation">
      <soap:address location="http://localhost:3000/Operations" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDataOperation" binding="tns:NetTcpBinding_IDataOperation">
      <soap12:address location="net.tcp://localhost:45617/Operations" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45617/Operations</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AD-TUKE\yp670pa</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>